@charset "UTF-8";
/* =========================================================================
  * 管理ページ共通利用
* ======================================================================= */
header {
  background-color: #1a6ecc;
  height: 5rem;
  color: #FFF;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000; }
  header .logo-area {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 0.42rem; }

.main-frame {
  margin-top: 5rem;
  /**
    * メインコンテンツエリア
    */ }
  .main-frame .left-navi {
    height: 100%; }
  .main-frame .main-contents-area {
    padding-bottom: 2rem; }
    .main-frame .main-contents-area h1 {
      margin-bottom: 2rem;
      border-bottom: 1px solid #EEE;
      padding-bottom: 0.8rem; }

/*# sourceMappingURL=site-add.css.map */
