/* =========================================================================
  *リレーション定義用
  * ======================================================================= */

// ----------------------------------------------------
/**
  * ドラッグのポインタ
  */
.drag-pointer {
    width: 10px;
    height: 10px;
    background-color: #000;
    z-index: 100000;
}

// ----------------------------------------------------

// ----------------------------------------------------
/*
  * リレーション定義領域
  */
.relation-define-area {
    
    border: 1px solid #BBB;
    padding: 10px;
    width: 100%;
    height:  500px;
    overflow: scroll;
    
    //テーブル外枠
    .like-table {
        border: 1px solid #BBB;
        background-color: #DDD;
        padding:  4px;
        width: 120px;
        
        //カラム
        .like-column {
            border: 1px solid #BBB;
            background-color: #FFF;
            padding:  4px;
        }

    }
}
// ----------------------------------------------------