/* =========================================================================
  * 管理ページ共通利用
* ======================================================================= */

header {
    
    background-color: #1a6ecc;
    height: 5rem;
    color: #FFF;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100000;
    
    .logo-area {
        text-align: center;
        font-size: 2.8rem;
        padding-top: 0.42rem;
    }
    
}


// ----------------------------------------------------
.main-frame {
    
    margin-top: 5rem;
    
    
    .left-navi {
        height: 100%;
    }
    
    // ----------------------------------------------------
    /**
      * メインコンテンツエリア
      */
    .main-contents-area{
        padding-bottom: 2rem;
        
        //H1
        h1 {
            margin-bottom: 2rem;
            border-bottom: 1px solid #EEE;
            padding-bottom: 0.8rem;
        }
        
    }
    
    // ----------------------------------------------------
}